/*body styles*/

#notes {
    background-color: lightgray;
    border-radius: 5px;
    hieght: 300px;
    width: 300px;
    padding: 5px;
}

input[type=text] {
    width: 100%;
}

#container {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding-bottom: 10px;
    border-radius: 2px;
}

#navbar {
    background-color: lightgray;
}

#profileButton {
    padding-right: 30px;
}

#summary {
    width: 100%;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    text-size: 20px;
}

tr td {
    border-bottom: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}